# {{ ansible_managed }}
---
services:
  hawser:
    image: "{{ hawser_image }}"
    container_name: "{{ hawser_container_name }}"
    restart: "{{ hawser_restart_policy }}"
    environment:
      DOCKHAND_SERVER_URL: "{{ hawser_dockhand_url }}"
      TOKEN: "{{ hawser_token }}"
      STACKS_DIR: "{{ hawser_stacks_dir }}"
      REQUEST_TIMEOUT: "{{ hawser_request_timeout }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ hawser_stacks_dir }}:{{ hawser_stacks_dir }}"
