# {{ ansible_managed }}
[Unit]
Description=Beszel Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT={{ beszel_agent_port }}"
Environment="KEY={{ beszel_agent_key }}"
Environment="TOKEN={{ beszel_agent_token }}"
Environment="HUB_URL={{ beszel_agent_hub_url }}"
{% if beszel_agent_extra_filesystems | length > 0 %}
Environment="EXTRA_FILESYSTEMS={{ beszel_agent_extra_filesystems }}"
{% endif %}
ExecStart={{ beszel_agent_dir }}/beszel-agent
User={{ beszel_agent_user }}
Restart=on-failure
RestartSec=5
StateDirectory=beszel-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
